/*!
 * dwLabs - Plesk Default Web v0.0.2 (https://my-plesk.dw-labs.de)
 * Copyright 2012-2020 Daniel Wolkenhauer <hello@dw-labs.de> (https://dw-labs.de)
 * Licensed under MIT (https://bitbucket.org/dwolke/plesk-default-web/src/master/LICENSE)
 */

@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
*, body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
}

.form-body {
  position: relative;
  background-color: #0099f8;
  height: 100%;
  z-index: 1;
}

.form-body > .row {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  height: 100%;
}

.form-body.gradient-bg {
  background-repeat: repeat-x;
  background-image: linear-gradient(20deg, #0099f8, #ee6ee9);
}

.website-logo {
  display: inline-block;
  position: absolute;
  z-index: 1000;
  top: 50px;
  left: 50px;
  right: initial;
  bottom: initial;
}

.website-logo img {
  width: 100px;
}

.website-logo a {
  display: inline-block;
}

.website-logo .logo {
  display: inline-block;
  background-image: url("../img/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.website-logo .logo img {
  width: 150px;
}

.website-logo .logo img.logo-size {
  opacity: 0 !important;
}

.img-holder {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 550px;
  min-height: 700px;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  padding: 60px;
  text-align: center;
  z-index: 999;
}

.img-holder:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url(../img/cloud-bg.svg);
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;
}

.img-holder .info-holder {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.img-holder .info-holder img {
  width: 100%;
  max-width: 378px;
}

@media (min-height: 700px) {
  .img-holder {
    position: fixed;
  }
}

.form-holder {
  position: relative;
  margin-left: 550px;
  width: 100%;
  height: 100%;
}

.form-holder .form-content {
  position: relative;
  text-align: center;
  display: flex;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding: 125px 60px 60px;
  height: 100%;
}

.form-content {
  position: relative;
  background-color: transparent;
}

.form-content .spacer {
  height: 20px;
}

.form-content .form-items {
  display: inline-block;
  width: 100%;
  max-width: 440px;
  text-align: left;
  transition: all 0.4s ease;
}

.form-content h3 {
  color: #fff;
  text-align: left;
  font-size: 27px;
  font-weight: 900;
  margin-bottom: 20px;
}

.form-content h4 {
  color: #fff;
  font-weight: 600;
}

.form-content p {
  color: #fff;
  text-align: left;
  font-size: 19px;
  font-weight: 300;
  line-height: 23px;
  margin-bottom: 40px;
}

.form-content a {
  color: #fff;
  font-size: 19px;
}

.form-content .btn.btn-primary {
  color: #fff;
  background-color: #5915b4;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  border: 0;
  font-size: 16px;
}

.form-content .btn.btn-primary:hover, .form-content .btn.btn-primary:focus {
  background-color: #4e129d;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0);
}

.form-content hr {
  background: #fff;
}

@media (max-height: 700px) {
  .form-body {
    height: initial;
    min-height: 100%;
  }
  .form-body .form-content {
    display: block;
  }
}

@media (max-width: 992px) {
  .img-holder {
    display: none;
  }
  .form-holder {
    margin-left: 0;
  }
  .form-holder .form-content {
    display: block;
    padding: 155px 40px 80px;
  }
  .website-logo {
    top: 50px;
    left: 50px;
    right: initial;
    bottom: initial;
  }
  .website-logo .logo {
    background-image: url("../img/logo-light.svg");
  }
}

@media (max-width: 767px) {
  .img-holder-right {
    display: none;
  }
}
