// Global styling for this theme

*, body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
}

.form-body {
  position: relative;
  background-color: $bg-blue;
  height: 100%;
  z-index: 1;

  > .row {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    height: 100%;
  }

  &.gradient-bg {
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(20deg, $bg-blue, $grad-purple);
    background-image: -o-linear-gradient(20deg, $bg-blue, $grad-purple);
    background-image: linear-gradient(20deg, $bg-blue, $grad-purple);
  }
}

.website-logo {
  display: inline-block;
  position: absolute;
  z-index: 1000;
  top: 50px;
  left: 50px;
  right: initial;
  bottom: initial;

  img {
    width: 100px;
  }

  a {
    display: inline-block;
  }

  .logo {
    display: inline-block;
    background-image: url("../img/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;

    img {
      width: 150px;

      &.logo-size {
        opacity: 0 !important;
      }
    }
  }
}

.img-holder {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 550px;
  min-height: 700px;
  height: 100%;
  overflow: hidden;
  background-color: $white;
  padding: 60px;
  text-align: center;
  z-index: 999;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url(../img/cloud-bg.svg);
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
  }

  .info-holder {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    img {
      width: 100%;
      max-width: 378px;
    }
  }

  @media (min-height: 700px) {
    position: fixed;
  }

}

.form-holder {
  position: relative;
  margin-left: 550px;
  width: 100%;
  height: 100%;

  .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    padding: 125px 60px 60px;
    height: 100%;
  }
  
}

.form-content {

  position: relative;
  background-color: transparent;

  .spacer {
    height: 20px;
  }

  .form-items {
    display: inline-block;
    width: 100%;
    max-width: 440px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  h3 {
    color: $white;
    text-align: left;
    font-size: 27px;
    font-weight: 900;
    margin-bottom: 20px;
  }

  h4 {
    color: $white;
    font-weight: 600;
  }

  p {
    color: $white;
    text-align: left;
    font-size: 19px;
    font-weight: 300;
    line-height: 23px;
    margin-bottom: 40px;
  }

  a {
    color: $white;
    font-size: 19px;
  }

  .btn.btn-primary {
    color: #fff;
    background-color: $colBtnPrimary;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: 0;
    font-size: 16px;

    &:hover, &:focus {
      background-color: $colBtnPrimaryHover;
      -webkit-box-shadow: 0 5px 6px rgba(0, 0, 0, 0);
      box-shadow: 0 5px 6px rgba(0, 0, 0, 0);
    }
  }

  hr {
    background: $white;
  }

}

@media (max-height: 700px) {
  .form-body {
    height: initial;
    min-height: 100%;

    .form-content {
      display: block;
    }
  }
}

@media (max-width: 992px) {
  .img-holder {
    display: none;
  }

  .form-holder {
    margin-left: 0;

    .form-content {
      display: block;
      padding: 155px 40px 80px;
    }
  }

  .website-logo {
    top: 50px;
    left: 50px;
    right: initial;
    bottom: initial;

    .logo {
      background-image: url("../img/logo-light.svg");
    }
  }

}

@media (max-width: 767px) {
  .img-holder-right {
    display: none;
  }
}
