// Variables

// Colors

// Standardfarben
$black: #000 !default;
$white: #fff !default;


// Benutzerdefinierte Farben
$bg-blue: #0099f8;
$grad-purple: #ee6ee9;

$colInput: #8d8d8d;
$bgInput: #ebeff8;
$colBtnPrimary: #5915b4;
$colBtnPrimaryHover: #4e129d;

